root {
    --width: '';
}

.container {
    position: relative;
}

.common {
    font-family: sans-serif;
    font-size: 1rem;
}

.input {
    position: relative;
    background-color: transparent;
    z-index: 1;
}

.hint {
    position: absolute;
    top: 0;
    left: 0;
    color: #4682B47F;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: transparent;
}

.hintsList {
    box-sizing: border-box;
    width: var(--width);
    min-width: fit-content;
    padding: 0.5rem;
    border: 1px solid #aaa;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    margin-top: 1rem;
}