@import '../../variables.css';

root {
    --width: '';
    --top: '';
    --left: '';
}

.hintList {
    position: absolute;
    box-sizing: border-box;
    top: calc(var(--top) + 0.2rem);
    left: var(--left);
    width: var(--width);
    max-height: calc(100vh - calc(var(--top) + 0.2rem) - 1rem);
    overflow-y: auto;
    z-index: 1;
    padding: 0;
    margin: 0;
    min-width: fit-content;
    background-color: var(--app-white);
    border: 1px solid var(--app-grey);
    box-shadow: 1px 1px 1px var(--app-black);
}

.hintList::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.hintList::-webkit-scrollbar-track {
    width: var(--scrollbar-width);
    background-color: var(--app-transparent);
    border: solid 1px var(--app-transparent);
}

.hintList::-webkit-scrollbar-thumb {
    background-color: var(--app-blue);
    border: solid 1px var(--app-transparent);
    border-radius: var(--scrollbar-width);
    background-clip: padding-box;
}

.hintItem {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    transition: background-color .2s;
    cursor: pointer;
}

.active {
    background-color: var(--app-blue);
}